*.pyc
*.d
*.o
*.so
pygs/build/*
*.swo

core/Makefile
.metadata
apps/heatmap/*.surface
apps/heatmap/*.png
apps/sptdrawing/*.png
apps/transitshed/backend/data
apps/transitshed/*.surface
core/.cproject
core/.project
core/Debug
core/test/build
jags/.classpath
jags/.project
jags/.settings
jags/bin
jags/target
misc/sptviz2/.svn
misc/sptviz2/code/.svn
misc/sptviz2/data
pygs/.project
pygs/.pydevproject
pygs/dist
pygs/graphserver.egg-info
test/.cproject
test/.project
test/Debug
test/gmon.out
test/northseattle.csv
test/wallingford.csv

pygs/test/unit_testunit_test.db
*.swp
pygs/test/integration_test/map.osm

CMakeFiles
CMakeCache.txt
cmake_install.cmake
