---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-braces-around-statements,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -misc-unused-parameters,
  -readability-function-cognitive-complexity

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: 'file'

CheckOptions:
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: camelCase
  - key: readability-identifier-naming.MacroCase
    value: UPPER_CASE
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: lower_case
  - key: performance-for-range-copy.WarnOnAllAutoCopies
    value: true
  - key: readability-function-size.LineThreshold
    value: 88
  - key: readability-function-size.StatementThreshold
    value: 800